@model List<ProjectWeightViewModel>

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("RightMenu")
    </div>
    <div class="col-md-9">
        <div class="container mt-5">
            <table class="table table-hover" id="newsTable">
                <thead>
                <tr>
                    <th>Project</th>
                    <th>UA Credit</th>
                    <th>RU Credit</th>
                    <th>UA Weight (%)</th>
                    <th>RU Weight (%)</th>
                    <th>Credit Difference</th>
                    <th>UA Average</th>
                    <th>RU Average</th>
                    <th>Task Hours</th>
                    <th>Years</th>
                    <th>MWt/h</th>
                    <th>Devices to Overcome</th>
                    <th>Type</th>
                    <th>Days To Win</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td>@project.ProjectName</td>
                        <td>@project.CreditUA</td>
                        <td>@project.CreditRU</td>
                        <td>@project.UaWeight</td>
                        <td>@project.RuWeight</td>
                        <td>@project.CreditDifference</td>
                        <td>@project.AvarageUA</td>
                        <td>@project.AvarageRU</td>
                        <td style="@(new[] { "Overcome", "Won", "Ownage", "Destroyed", "Annihilated" }.Contains(project.TaskHours) ? "background-color: #e6ffe6;" : "")">
                            @project.TaskHours
                        </td>
                        <td style="@(new[] { "Overcome", "Won", "Ownage", "Destroyed", "Annihilated" }.Contains(project.YearsDifference) ? "background-color: #e6ffe6;" : "")">
                            @project.YearsDifference
                        </td>
                        <td style="@(new[] { "Overcome", "Won", "Ownage", "Destroyed", "Annihilated" }.Contains(project.MWtPerHourCpu) ? "background-color: #e6ffe6;" : "")">
                            @project.MWtPerHourCpu
                        </td>
                        <td>@project.DevicesToOvercome</td>
                        <td>@project.ProjectType</td>
                        @if (project.DaysToWin > 0)
                        {
                            <td>@project.DaysToWin</td>
                        }
                        else
                        {
                            <td>0</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
