@model List<ProjectWeightViewModel>

<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px;">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">BOINC Stats</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home")" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#employee-icon"></use></svg>
                    Countries
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ProjectStats")" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "ProjectStats" ? "active" : "")">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#employee-icon"></use></svg>
                    Projects
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ProjectWeight")" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "ProjectWeight" ? "active" : "")">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#employee-icon"></use></svg>
                    Calculation
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="container mt-5">
            <table class="table table-hover" id="newsTable">
                <thead>
                <tr>
                    <th>Project</th>
                    <th>UA Credit</th>
                    <th>RU Credit</th>
                    <th>UA Weight (%)</th>
                    <th>RU Weight (%)</th>
                    <th>Credit Difference</th>
                    <th>UA Average</th>
                    <th>RU Average</th>
                    <th>Task Hours</th>
                    <th>Years</th>
                    <th>MWt/h</th>
                    <th>Devices to Overcome</th>
                    <th>Type</th>
                    <th>Days To Win</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td>@project.ProjectName</td>
                        <td>@project.CreditUA</td>
                        <td>@project.CreditRU</td>
                        <td>@project.UaWeight</td>
                        <td>@project.RuWeight</td>
                        <td>@project.CreditDifference</td>
                        <td>@project.AvarageUA</td>
                        <td>@project.AvarageRU</td>
                        <td style="@(new[] {"Overcome", "Won", "Ownage", "Destroyed", "Annihilated"}.Contains(project.TaskHours) ? "background-color: #e6ffe6;" : "")">
                            @project.TaskHours
                        </td>
                        <td style="@(new[] {"Overcome", "Won", "Ownage", "Destroyed", "Annihilated"}.Contains(project.YearsDifference) ? "background-color: #e6ffe6;" : "")">
                            @project.YearsDifference
                        </td>
                        <td style="@(new[] {"Overcome", "Won", "Ownage", "Destroyed", "Annihilated"}.Contains(project.MWtPerHourCpu) ? "background-color: #e6ffe6;" : "")">
                            @project.MWtPerHourCpu
                        </td>
                        <td>@project.DevicesToOvercome</td>
                        <td>@project.ProjectType</td>
                        @if (project.DaysToWin > 0)
                        {
                            <td>@project.DaysToWin</td>
                        }
                        else
                        {
                            <td>0</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
